@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AKADEMİM</h1>
    <p> <a class="btn btn-primary" asp-controller="Course" asp-action="Apply">Register</a></p>
</div>
